.About {
  color: white;
  text-align: center;
  animation: fadein 7s;
  -moz-animation: fadein 7s;
  /* Firefox */
  -webkit-animation: fadein 7s;
  /* Safari and Chrome */
  -o-animation: fadein 7s;
  /* Opera */
  padding-bottom: 75px;
}

.content {
  font-size: 80px;
  margin-top: 0px;
}

.name {
  font-weight: bold;
  color: white;
}

.name:hover {
  color: #4B4453;
}

.name-link {
  text-decoration: none;
  text-align: center;
  margin: 0 125px 0 0;
}

.line {
  font-size: 30px;
  width: 25%;
  border: none;
  border-top: 5px solid white;
}

.click-logo {
  height: 10%;
  width: 10%;
  margin: 0 5px 0 0;
}