.App {
  background-image: linear-gradient(to right top, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  background: 100%;
}