.boxes-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.job-title {
  font-weight: bold;
}

.job-address {
  font-size: 14px;
}

.job-date {
  font-size: 12px;
}

.cdl {
  padding-bottom: 15px;
}

.ies {
  padding-bottom: 10px;
}

.ex-see-more {
  font-size: 12px;
}

.ex-see-more:hover {
  color: #4B4453;
  cursor: pointer;
}

.ed-see-more {
  font-size: 12px;
}

.ed-see-more:hover {
  color: #4B4453;
  cursor: pointer;
}