.Navbar {
  color: white;
  text-align: center;
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  /* Firefox */
  -webkit-animation: fadein 5s;
  /* Safari and Chrome */
  -o-animation: fadein 5s;
  /* Opera */
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.links {
  font-size: 20px;
  margin-bottom: 5px;
}

.nav-buttons {
  text-align: center;
}

.logo {
  height: 50px;
  width: 80px;
  margin: 10px 0px 5px 0px;
}

.item {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.item:hover {
  color: #4B4453;
  cursor: pointer;
}

.translate {
  text-decoration: none;
  color: white;
  float: left;
  margin-left: 10px;
}

.translate:hover {
  color: #4B4453;
}