.Portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

@media (max-width: 576px) {
  .Portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
}